*{
    margin: 0;
}

.contenedor{
    background: rgb(194, 192, 194);
    width: 100vw;
    height:225vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 1%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}
