* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el ancho y alto incluyan paddings y bordes */
}

.contenedor {
    background: rgb(194, 192, 194);
    width: 100%; /* Ancho automático para adaptarse al contenedor padre */
    height: auto; /* Alto automático para adaptarse al contenido */
    min-height: 100vh; /* Mantén una altura mínima para ocupar al menos toda la altura de la ventana gráfica */
    text-align: center;
}

p {
    font-size: 2rem; /* Usando 'rem' para un tamaño de fuente relativo */
    padding: 1%; /* Porcentaje del ancho del contenedor */
}

button {
    font-size: 2rem;
    padding: 0.75em;
}

#yesBtn {
    transform: translateX(-100%); /* Cambiado a translateX para evitar problemas en pantallas pequeñas */
}

#noBtn {
    position: absolute;
    top: 0; /* Ajusta la posición superior según sea necesario */
    right: 0; /* Ajusta la posición derecha según sea necesario */
}
